## SQL을 사용하기 위한 setup

In [1]:
import sql

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///Weather.db

## [출석인정용과제]
Regions table 에서 region이 Northeast인 state의 갯수를 되돌리는  SQL 프로그램을 작성하시오

In [4]:
%%sql
Select count(*)
From Regions
Where region = 'Northeast'

 * sqlite:///Weather.db
Done.

[(5,)]

## [학점취득용과제 1]

 CityTemps table에서 온도(temp)가 가장 높은 도시와 그 도시의 온도를 출력하시오. 도시의 온도는 '최고온도' 라는 이름으로 출력하시오. 반드시 Not Exists를 사용하시오.

In [5]:
%%sql
Select city, temp as 최고온도
From CityTemps C1
Where Not Exists
(Select * from CityTemps C2 Where C1.temp < C2.temp)

 * sqlite:///Weather.db
Done.

[('Key West', 77)]

## [학점취득용과제 2]

위 문제를 Not Exists를 사용하지 말고 프로그램하시오.

In [6]:
%%sql
Select city, max(temp) as 최고온도
From CityTemps

 * sqlite:///Weather.db
Done.

[('Key West', 77)]

## [학점취득용과제 3]

Regions table 에서 coastal이 Y인 state의 갯수, coastal이 N인 state의 갯수, 그리고 두 갯수의 차이의 절대값을 출력하는  1개의 SQL 프로그램을 작성하시오. 반드시 subquery 2개를 From clause에 사용하시오.

In [7]:
%%sql
Select numCoastal, numnotCoastal,
abs(numCoastal - numnotCoastal) as absValue
From(Select count(*) as numCoastal
    From Regions Where coastal = 'Y') ,
(Select count(*) as numnotCoastal
From Regions Where coastal = 'N')

 * sqlite:///Weather.db
Done.

[(19, 24, 5)]