## [출석인정용과제]

IMDB-Movie-Data.csv를 dataframe으로 읽어들여 전체 data의 몇 %가  missing data인지 소숫점 이하 둘째자리까지만 출력하는 프로그램을 작성하시오. 파일을 읽어들일때 "Title"을 index column으로 하시오.

In [9]:
import pandas as pd
df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")
row = df.shape[0]
col = df.shape[1]
total = row * col
m_data = sum(df.isnull().sum())
p_data = m_data / total
print(round(p_data, 2), "%")

0.02 %

## [학점취득용과제1, 2, 3]

### data cleaning & exploration 1.ipynb 파일 강의시 언급한 homework 문제를 다음의 순서대로 프로그램하시오. 아래 7개의 단계가 문제 3개로 나뉘어 있음.

1. IMDB-Movie-Data.csv 파일을 다시 읽어들이시오.
1. revenue column의 missing data 갯수를 출력하시오
1. revenue column의 mean값을 구해 revenue_mean 에 넣고 출력하시오
1. revenue column을 genre별로 grouping하고 genre별 mean값을 구해 genre_mean에 넣고 출력하시오. genre이름과 mean값만 출력되어야 함.
1. revenue column의 missing data를 genre별 평균값으로 impute 하시오.
1. genre에 따라서 1개의 행만 있고 그 행의 revenue 값이 NaN인 genre가 여러 개 있습니다.이런 genre의 revenue 평균값은 그대로 NaN이 되고 impute 해봐야 NaN 자리에 NaN이 들어가게 되어 그대로 NaN으로 남습니다.  revenue column에서 impute 후에도 아직도 NaN인 data의 갯수를 출력하시오.
1. 6단계후에 남은 NaN 모두를 3단계에서 구한 revenue_mean으로 채우고 revenue column에서 NaN인 data의 갯수를 출력하시오. 0개가 출력되어 더 이상 NaN이 없는 것으로 나와야 맞습니다.

### 프로그램 실행시 warning이 나올 수 있는데 프로그램 시작시 아래 코드를 넣어 warning이 출력되지 않도록 하시오

import warnings <br>
warnings.filterwarnings('ignore')

### dataframe의 cell이 NaN(Not a Number)인지 아닌지를 테스트하려면np.isnan() 함수를 사용하시오.

## [학점취득용과제1]
### 아래 단계가 실행되도록 코딩하시오
1. IMDB-Movie-Data.csv 파일을 다시 읽어들이시오.
1. revenue column의 missing data 갯수를 출력하시오
1. revenue column의 mean값을 구해 revenue_mean 에 넣고 출력하시오

In [10]:
import pandas as pd
import numpy as np
df = pd.read_csv('IMDB-Movie-Data.csv')
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [11]:
df1 = df['Revenue (Millions)'].isnull().sum()
df1

128

In [12]:
revenue_mean = df['Revenue (Millions)'].mean()
revenue_mean

82.95637614678898

## [학점취득용과제2]
### 아래 단계가 실행되도록 코딩하시오
4. revenue column을 genre별로 grouping하고 genre별 mean값을 구해 genre_mean에 넣고 출력하시오. genre이름과 mean값만 출력되어야 함.
5. revenue column의 missing data를 genre별 평균값으로 impute 하시오.

In [13]:
genre = df['Revenue (Millions)'].groupby(df['Genre'])
genre_mean = genre.mean()
genre_mean

Genre
Action                        131.560000
Action,Adventure              223.740000
Action,Adventure,Biography     16.500000
Action,Adventure,Comedy        95.733571
Action,Adventure,Crime         90.620000
                                 ...
Romance,Sci-Fi,Thriller        62.450000
Sci-Fi                         20.760000
Sci-Fi,Thriller                64.510000
Thriller                        0.320000
Thriller,War                         NaN
Name: Revenue (Millions), Length: 207, dtype: float64

In [14]:
genre_mean.fillna(genre_mean, inplace=True)
genre_mean

Genre
Action                        131.560000
Action,Adventure              223.740000
Action,Adventure,Biography     16.500000
Action,Adventure,Comedy        95.733571
Action,Adventure,Crime         90.620000
                                 ...
Romance,Sci-Fi,Thriller        62.450000
Sci-Fi                         20.760000
Sci-Fi,Thriller                64.510000
Thriller                        0.320000
Thriller,War                         NaN
Name: Revenue (Millions), Length: 207, dtype: float64

## [학점취득용과제3]
### 아래 단계가 실행되도록 코딩하시오
6. genre에 따라서 1개의 행만 있고 그 행의 revenue 값이 NaN인 genre가 여러 개 있습니다.이런 genre의 revenue 평균값은 그대로 NaN이 되고 impute 해봐야 NaN 자리에 NaN이 들어가게 되어 그대로 NaN으로 남습니다.  revenue column에서 impute 후에도 아직도 NaN인 data의 갯수를 출력하시오.
7. 6단계후에 남은 NaN 모두를 3단계에서 구한 revenue_mean으로 채우고 revenue column에서 NaN인 data의 갯수를 출력하시오. 0개가 출력되어 더 이상 NaN이 없는 것으로 나와야 맞습니다.

In [15]:
genre_mean.isnull().sum()

12

In [13]:
genre_mean.fillna(revenue_mean, inplace = True)
genre_mean.isnull().sum()

0